@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap");

// COLORS
$darkBlue: #012850;
$white: #ffffff;
$gray: linear-gradient(178.51deg, #ddd8d5 69.44%, #e2e0e1 91.41%);
$wheat: #3232324d;
$darkblack: #323232;
$lightgray: #e2e2e2;

// FONTS
$Rancho: "Rancho", cursive;
$Poppins: "Poppins", sans-serif;

// FlexItem
@mixin flexItem {
  display: flex;
  align-items: center;
}

// HEADER STYLE

// lOGO
@mixin logoStyle {
  font-family: $Rancho;
  color: $darkBlue;
  font-size: 50px;
  line-height: 62.11px;
  font-weight: 400;
}

// Header
@mixin headerStyle {
  @include flexItem();
  justify-content: space-between;
  padding: 2% 6%;
  width: 100%;
}
// Nav
@mixin navStyle {
  @include flexItem();
  gap: 16px;
}

@mixin iconStyle {
  width: 100%;
  height: auto;
  object-fit: contain;
}

// HERO SECTION
@mixin heroMain {
  @include flexItem();
  justify-content: space-between;
  padding: 0% 3%;
  background: $gray;
}
// text
@mixin divStyle {
  gap: 32px;
  @include flexItem();
  flex-direction: column;
  align-items: flex-start;
}

// heading
@mixin heading {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  color: $darkBlue;
}

// article
@mixin article {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

// shop now button
@mixin shopNow {
  padding: 10px 20px;
  gap: 10px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  background-color: $darkBlue;
  color: $white;
  cursor: pointer;
}

// heroImage
@mixin heroImage {
  max-width: 100%;
  height: 80vh;
}

// FOOTER
@mixin footer {
  @include flexItem();
  flex-direction: column;
  align-items: flex-start;
  padding: 7% 3%;
  gap: 40px;
  background: $darkBlue;
  color: $white;
  font-weight: 300;
}

@mixin section {
  gap: 36px;
  @include flexItem();
  align-items: flex-start;
}

@mixin colLink {
  @include flexItem();
  gap: 10px;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

@mixin h4 {
  font-size: 20px;
  white-space: nowrap;
}

//LINK TAG <a>
@mixin linkTag {
  text-decoration: none;
  white-space: nowrap;
  color: $white;
}

// visa
@mixin visa {
  gap: 5px;
  @include flexItem();
  flex-direction: column;
  align-items: flex-start;
}

// SocialLink
@mixin socialLinks {
  gap: 16px;
  padding-top: 8px;
}

// CART STYLING
@mixin mainCart {
  @include flexItem();
  gap: 40px;
  flex-direction: column;
  padding: 4% 3%;
}

@mixin collectionNav {
  @include flexItem();
  justify-content: space-between;
  width: 100%;
}

@mixin cartNav {
  gap: 9px;
  @include flexItem();
  font-weight: 500;
}

@mixin search {
  @include flexItem();
  gap: 9px;
}

@mixin input {
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid $lightgray;
  opacity: 0px;
}

@mixin placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

@mixin select {
  padding: 6.5px 15px;
  gap: 10px;
  border-radius: 5px;
  background: $darkBlue;
  color: $white;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin cart-section {
  margin: 4% 9%;
}
