@import "/src/component/variable.scss";

.checkOut {
  padding: 50px 10px 90px 30px;
  background-color: $veryLightBlue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.forms {
  display: flex;
  // gap: 10%;
}

.out {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;

  h4 {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
  }

  a {
    color: #0634ca;
  }
}
.out p:nth-child(2) {
  display: flex;
  gap: 5px;
  align-items: center;
}
.out p:nth-child(3) {
  display: flex;
  gap: 5px;
  padding: 24px 13px;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background-color: #e8ebee;
}

.cartTotal {
  padding: 49px 30px;
  gap: 20px;
  border-radius: 20px;
  border: 1px solid #d8d8d8;
}

.proceed {
  border-radius: 10px;
}

.check {
  display: flex;
  justify-content: initial !important;
  gap: 5px;

  input {
    cursor: pointer;
  }
}

// Form
form {
  display: flex;
  flex-direction: column;
  width: 150%;
  gap: 20px;
}
form h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #323232;
}
form section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flexInput {
  display: flex;
  gap: 40px;
  flex-direction: row;
}

.checkbox {
  display: flex;
  gap: 0px;
  padding-top: 10px;
  input {
    width: 20px;
    // padding: 10%;
  }
}
form div {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
}

form b {
  color: #e22222;
}
form label {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

@mixin input {
  padding: 48px;
  width: 100%;
  padding: 17px 43px 16px 20px;
  border-radius: 7px;
  border: 1px solid #d8d8d8;
  background-color: $veryLightBlue;
}
form input{
  @include input();
  color: #a9a9a9;
}
 form select{

    @include input();
    color: #a9a9a9;
 }
textarea {
  @include input();
  padding: 0px;
}
