@import "/src/component/variable.scss";

.cartTotal {
  padding: 49px 30px;
  gap: 36px;
  border-radius: 20px;
  border: 1px solid #d8d8d8;
}

.proceed {
  border-radius: 10px;
}

.check {
  display: flex;
  justify-content: initial !important;
  gap: 0px;
}
