@import "/src/component/variable.scss";

// FOOTER
@mixin footer {
  @include flexItem();
  flex-direction: column;
  align-items: flex-start;
  padding: 7% 3%;
  gap: 40px;
  background: $darkBlue;
  color: $white;
  font-weight: 300;
}

@mixin section {
  gap: 36px;
  @include flexItem();
  align-items: flex-start;
}

@mixin colLink {
  @include flexItem();
  gap: 10px;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

@mixin h4 {
  font-size: 20px;
  white-space: nowrap;
}

//LINK TAG <a>
@mixin linkTag {
  text-decoration: none;
  white-space: nowrap;
  color: $white;
}

// visa
@mixin visa {
  gap: 5px;
  @include flexItem();
  flex-direction: column;
  align-items: flex-start;
}

// SocialLink
@mixin socialLinks {
  gap: 16px;
  padding-top: 8px;
}

// Implemented styling to tags
.yindira1 {
  display: none;
}

footer {
  @include footer();
  overflow-x: hidden;
}

section {
  @include section();
}

.links {
  @include section();
}

.links div {
  @include colLink();
}

a {
  @include linkTag();
}

h3 {
  @include logoStyle();
  color: $white;
  padding-bottom: 8px;
}

h4 {
  @include h4();
}
button {
  @include shopNow();
  border: 1px solid $white;
  padding-top: 8px;
}

.visa {
  @include visa();
}

.socialLinks {
  @include socialLinks();
}

@media screen and (max-width: 768px) {
  section {
    flex-wrap: wrap;
  }

  .links {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  footer {
    white-space: wrap;
  }
  .yindira1 {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;

padding-top: 20px;   

button {
      white-space: nowrap;
      width: 35%;
    }
  }
  .yindira2 {
    display: none !important;
  }
}


